$body_text: #687083;
$tab: "(max-width: 767.98px)";
$max_lg: "(min-width: 992.98px)";
$white: #fff;
.product_widget26 {
  border: 1px solid #ebebeb;
  position: relative;
  .product_thumb_upper {
    position: relative;
    .offer_badge {
      background: rgb(12 207 106 / 80%);
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      border-radius: 2px;
      position: absolute;
      left: 20px;
      top: 20px;
      padding: 1.5px 8px;
      font-family: "Poppins", sans-serif;
      z-index: 12;
      min-width: 44px;
      text-align: center;
    }
    .product_action {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, -50%) scale(1.2);
      z-index: 1200;
      .a {
        width: 47.5px;
        height: 45px;
        color: #202e3b;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        position: relative;
        &:hover {
          color: #0cce6b;
        }
        &:not(:last-child)::before {
          height: 15px;
          background: #f1f1f1;
          width: 1px;
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .thumb {
    background: #fff;
    padding: 0;
    display: block;
    margin: 10px;
    overflow: hidden;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(1);
      transition: 0.3s;
      max-width: 100%;
      max-height: 290px;
    }
  }
  .product__meta {
    padding: 0 20px 20px 30px;
    .product_banding {
      font-size: 14px;
      font-weight: 500;
      color: $body_text;
      display: block;
      margin-bottom: 6px;
    }
    h4 {
      font-size: 20px;
      font-weight: 700;
      color: #00124e;
      font-family: "Poppins", sans-serif;
      margin-bottom: 9px;
      line-height: 1.4;
      transition: 0.3s;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: #367e62;
      }
    }
    .stars {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      i {
        color: #ffc107;
        font-size: 15px;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    .product_prise {
      position: relative;
      overflow: hidden;
      margin-bottom: 17px;
      p {
        font-size: 18px;
        font-weight: 700;
        color: #00124e;
        transition: 0.3s;
      }
    }
  }
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    border-color: transparent;
    .product_action {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }
    .thumb img {
      transform: scale(1.1);
    }
  }
}

// button
.home22_addCard_btn {
  border-radius: 30px;
  transition: 0.3s;
  background: transparent;
  padding: 0 20px 0 0px;
  grid-gap: 10px;
}

.home22_addCard_btn .circle_icon {
  width: 40px;
  height: 40px;
  flex: 40px 0 0;
  background: #28af62;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.home22_addCard_btn .circle_icon img {
  width: 15px;
}
.home22_addCard_btn h5 {
  transition: 0.3s;
}

.home22_addCard_btn:hover {
  background: #28af62;
  padding: 0 20px 0 8px;
  grid-gap: 0px;
}
.home22_addCard_btn:hover h5 {
  color: #fff;
}

// category
.category_widget {
  background: rgba(12, 207, 106, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  padding: 55px 30px 52px 30px;
  min-height: 300px;
  &.catwiz_bg2 {
    background: #83cccf;
  }
  &.catwiz_bg3 {
    background: #dfa2a9;
  }
  &.catwiz_bg4 {
    background: #9aaddc;
  }
  .icon {
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    img {
      max-width: 40px;
    }
  }
  h4 {
    font-size: 22px;
    font-weight: 700;
    color: #00124e;
    margin: 25px 0 11px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    font-size: 14px;
    color: $body_text;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-bottom: 27px;
  }
  .shop_text {
    font-size: 14px;
    color: #28af62;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
  }
}
.checked_cat {
  background: rgba(#00124e, 0.4);
}
// banner
.hero_Banner {
  @media #{'(min-width: 1600px)'} {
    margin: 0 110px;
  }
  margin-top: 30px !important;
  border-radius: 10px;
  overflow: hidden;
  .banner_single {
    padding: 123px 30px 128px 30px;
    border-radius: 10px;
    background-size: cover;
    background-position: center center !important;
    border-radius: 10px;
    @media #{$tab} {
      padding: 60px 30px 60px 30px;
      background-position: left center !important;
    }
    .banner__text {
      max-width: 576px;
      span {
        font-size: 14px;
        font-weight: 700;
        color: $white;
        display: block;
        text-transform: uppercase;
      }
      h3 {
        font-size: 50px;
        font-weight: 800;
        color: $white;
        line-height: 1.2;
        margin: 20px 0 23px 0;
        @media #{$tab} {
          font-size: 35px;
        }
      }
      h5 {
        font-size: 16px;
        color: $white;
        font-weight: 500;
        margin-bottom: 40px;
      }
    }
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    grid-gap: 15px;
    position: absolute;
    align-items: center;
    bottom: 45px !important;
    left: 0;
    right: 0;
    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #fff;
      display: inline-block;
      transition: 0.3s;
      position: relative;
      opacity: 0.8;
      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        left: -11px;
        top: -11px;
        transform: scale(0);
        transition: 0.3s;
      }
      &.swiper-pagination-bullet-active {
        width: 8px;
        height: 8px;
        background: #28af62;
        &::before {
          opacity: 1;
          transform: scale(1);
          border-color: #28af62;
        }
      }
    }
  }
}
.theme_btn_white {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  color: #28af62;
  font-weight: 700;
  padding: 18.5px 33px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .home7_primary_btnWhite {
    padding: 12px 18px;
  }
}
.theme_btn_white.small_btn {
  padding: 13.5px 45px;
}

.theme_btn_white:hover {
  color: #fff;
  border-color: #28af62;
  background: #28af62;
}

// swiper  navigation
.swiperSlide_button_group {
  display: flex;
  grid-gap: 10px;
  @media #{$tab} {
    display: none;
  }
  .swiper_button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    color: #28af62;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    background: #fff;
    &:hover {
      background: #28af62;
      border-color: #28af62;
      color: #fff;
    }
  }
}

.header_topBar {
  padding: 13px 115px;
  @media #{$tab} {
    padding: 13px 30px;
  }
}

.main_header {
  padding: 13px 115px 13px 105px !important;
  @media #{$tab} {
    padding: 13px 15px 13px 5px !important;
  }
}

.section_padding {
  padding: 107px 30px 120px 30px;
  @media #{$tab} {
    padding: 60px 15px;
  }
}
.section_padding_2 {
  padding: 80px 30px 120px 30px;
  @media #{$tab} {
    padding: 60px 15px;
  }
}

.section_padding_bottom {
  padding: 0 30px 120px 30px;
  @media #{$tab} {
    padding: 0 15px 60px 15px;
  }
}
.section_padding_top {
  padding: 107px 0px 0px 0px;
  @media #{$tab} {
    padding: 60px 0 0 0;
  }
}

// new added section spacing
.section_spacing {
  padding: 107px 30px 120px 30px;
  @media #{$tab} {
    padding: 60px 15px;
  }
}
.section_spacing_2 {
  padding: 80px 30px 120px 30px;
  @media #{$tab} {
    padding: 60px 15px;
  }
}
.section_spacing_top {
  padding: 107px 0px 0px 0px;
  @media #{$tab} {
    padding: 60px 0 0 0;
  }
}
.section_spacing_bottom {
  padding: 0px 0px 120px 0px;
  @media #{$tab} {
    padding: 0px 0 60px 0;
  }
}

// heder
.main_header {
}

// CHACKBOX
.primary_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
}

.primary_checkbox h5 {
  font-size: 14px;
  font-weight: 500;
  font-family: "Crimson Text", serif;
  color: #090b17;
  margin-bottom: 0;
}

.primary_checkbox .label_name {
  font-size: 14px;
  font-weight: 500;
  font-family: "Mulish", sans-serif;
  color: #686868;
  margin-bottom: 0;
}

.primary_checkbox.white_checkbox .checkmark:after {
  border-color: #fff;
}

.primary_checkbox .checkmark {
  position: relative;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  line-height: 18px;
  flex: 18px 0 0;
  border-radius: 3px;
}

.primary_checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.primary_checkbox input:checked ~ .checkmark:after {
  width: 100%;
  height: 100%;
  border: 0;
  transition: 0.3s;
  transform: scale(0);
}

.primary_checkbox input:checked ~ .checkmark {
  background: #0ccf6a;
  transition: 0.3s;
}

.primary_checkbox input:checked ~ .checkmark::before {
  content: "\e64c";
  font-family: "themify";
  position: absolute;
  display: block;
  top: 0px;
  left: 3px;
  text-indent: 1px;
  color: #828bb2;
  background-color: transparent;
  border: 0px;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  transform: rotate(8deg);
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  z-index: 99;
  color: #fff;
  transition: 0.3s;
}

.primary_checkbox .checkmark:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 3px;
  border: 1px solid #e9e7f7;
  transition: 0.3s;
  transform: scale(1);
}
.custom_modal_wrapper {
  .modal-box {
    max-width: 800px !important;
    @media #{$tab} {
      max-width: 100% !important;
    }
    .quickView_wrapper_inner {
      display: flex;
      @media #{$tab} {
        display: block;
      }
      .product_quickViewThumb {
        flex: 35% 0 0;
        img {
          max-width: 100%;
        }
      }
      .product_quickView_content {
        flex: 65% 0 0;
        padding-left: 20px;
      }
    }
  }
}

// testmonial
.single_testmonial {
  border: 1px solid #ededed;
  border-radius: 10px;
  background: #fff;
  padding: 50px 50px 58px 50px;
}

@media (max-width: 767.98px) {
  .single_testmonial {
    padding: 40px 40px 48px 40px;
  }
}

.single_testmonial .testmonial_header {
  margin-bottom: 25px;
}

.single_testmonial .testmonial_header .thumb {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  flex: 80px 0 0;
}

@media (max-width: 767.98px) {
  .single_testmonial .testmonial_header .thumb {
    width: 50px;
    height: 50px;
    flex: 50px 0 0;
    margin-right: 20px;
  }
}

.single_testmonial .testmonial_header .thumb img {
  width: 100%;
  border-radius: 50%;
}

.single_testmonial .testmonial_header .reviewer_name h4 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Cerebri Sans";
  margin-bottom: 7px;
}

.single_testmonial .testmonial_header .reviewer_name .rate i {
  font-size: 15px;
  color: #ffc107;
}

.single_testmonial .testmonial_header .reviewer_name .rate i:not(:last-child) {
  margin-right: 5px;
}

.single_testmonial p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #202e3b;
  margin-bottom: 0;
}

.chartWrapperBox {
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-gap: 30px;
  @media #{$tab} {
    grid-template-columns: 1fr;
  }
  @media #{"(max-width: 768px) and (max-width: 767.98px)"} {
    grid-template-columns: 1fr;
  }
}
.flex_1 {
  flex: 1 1 0 !important;
}

// menu
.main_header {
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  .main_middle_menu {
    li {
      a {
        color: #090b17;
        font-size: 14px;
        font-weight: 600;
        margin: 0px;
        padding: 22.5px 19px;
        display: inline-block;
        text-transform: uppercase;
        &::before {
          background: #28af62;
          bottom: 0;
          content: "";
          height: 2px;
          left: auto;
          position: absolute;
          right: 0;
          transition: 0.3s;
          width: 0;
        }
        &.active {
          background: rgba(#28af62, 0.1);
        }
        &.active,
        &:hover {
          background: transparent;
          color: #28af62;
          &::before {
            left: 0;
            right: auto;
            width: 100%;
          }
        }
      }
    }
  }
}

// dashboard
.drawer-mobile > .drawer-toggle ~ .drawer-side {
  @media #{$max_lg} {
    overflow-y: auto;
    width: 240px;
  }
  border-right: 1px solid #e3e6ef;
}
.dashboard_header {
  border-bottom: 1px solid #e3e6ef;
}
.commentModal {
  max-width: 600px;
  height: auto;
}
