@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#687083  ;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
